html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
  background-color: #B0B0B0;
  margin: 0;
  padding: 0;
	min-width: 100vw;
}

header  {
  height: 150px;
}

header h1 {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  height: 50px;
  font-size: 50px;
}

header a {
  position: relative;
  float:  right;
  text-align: center;
  font-size: 18px;
  margin-top: -50px;
  margin-right: 40px;
  background: #1E1C1B;
  border: 2px solid #1E1C1B;
  border-radius: 15px;
  width: 100px;
  outline: none;
  padding: 16px 40px;
  color: white;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
}

header a:hover {
  background: #2ecc71;
  border-color: #2ecc71;
  color: #1E1C1B;
}

.index div {
  min-width: 300px;
  width: auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #1E1C1B;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.index div h1 {
  color: #968A87;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

.index img {
  width: 200px;
  padding: 50px;
}

.index a{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
  width: 144px;
}

.index a:hover{
  background: #2ecc71;
}

.home {
  width: 80%;
  margin: auto;
  text-align: center;

}

.home h1 {
  text-align: left;
  width: auto;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
}

.home {
  text-align: center;
  width: 100%;
  min-height: 100px;
  height: auto;
}

.home ul {
  text-align: center;
}

.home ul li {
  display: inline;
  align-items: center;
  width: 284px;
  height: 200px;
}

.home ul li div {
  float: left;
  width: 300px;
  height: 400px;
  margin: 0 25px;
  border-radius: 15px;
  background: #1E1C1B;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.home ul li div p {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.home ul li .add_event {
  background: #A0A0A0;
  border: -4px solid #1E1C1B;
  color: #1E1C1B;
  vertical-align: middle;
}

.home ul li .add_event:hover {
  cursor: none;
}

.home ul li .add_event p {
  color: #1E1C1B;
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

.home ul li div img {
  width: 300px;
  height: 130px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.home ul li div h2 {
  color: white;
}

.home ul li div p {
  color: white;
}

.home ul li div .description {
  width: 300px;
  height: 100px;
  margin: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}

.home ul li div div p {
  margin: 0;
}

.home ul li div a {
  border:0;
  background: #2ecc71;
  margin: 70px auto;
  margin-top: 120px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 20px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  text-decoration: none;
  width: 144px;
}

.home ul li div a:hover {
  transform: scale(1.1);
  transition: 0.25s;
}

.event {
  width: 80%;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  background: #1E1C1B;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 20px;
}
.event table {
  margin: auto;
  color: white;
  width: 90%;
}

.event table tr {
  width: 100%;
}

.event table tr td {
  width: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.event table tr .event_cat {
  width: 10%;
}

.event table tr td select {
  width: 100%;
}

.event input[type = "submit"] {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1em;
}

.log input[type = "submit"]:hover{
  background: #2ecc71;
  color: #1E1C1B;
  transition: 0.25s;
}
